<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyDiary.Properties.Settings.MyDiaryDBConnectionString"
            connectionString="Data Source=DESKTOP-HMJJ9P5\DAVIDKANDYSQL;Initial Catalog=MyDiaryDB;Persist Security Info=True;User ID=sa;Password=ka1nadaya"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>